<div class="container-fluid">
  <div class="row">
    <!--div class="col-md-2">
      <!--Sidebar content>

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul >
        <li ng-repeat="person in people" class="thumbnail">
          <a href="#/people/{{person.name}}" class="thumb"><img ng-src="{{person.link}}"></a>
          <a href="#/people/{{person.name}}">{{person.name}}</a>
          <p>{{person.gender}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
